section {
  height: 100vh;
  padding: 0 8%;
}

.hero-section {
  overflow: hidden;
  background-color: rgb(255, 255, 255);
  display: grid;
  gap: 3em;
  grid-template-rows: 1fr 1fr;
}

.hero-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* height: 100%; */
}

.hero-info-left {
  margin-top: -5em;
  max-width: 38vw;
}
.hero-education {
  margin-top: 2em;
}
.education-studies {
  margin-bottom: 1em;
}
.education-studies p {
  /* font-style: italic; */
}

.hero-info-right {
  display: flex;
  position: relative;
  /* background-color: red; */
  /* margin-left: 2em; */
}
.hero-info-right .circle {
  /* position: absolute; */
  position: relative;
  height: 80vh;
  width: 80vh;
  /* margin-left: auto;
  margin-right: auto; */
  border-radius: 50%;
  background: linear-gradient(180deg, #cfcece 10%, #646464 100%);
  /* transform: rotate(-121deg); */
}

.hero-info-right img {
  position: absolute;
  bottom: 0;
  right: 50%;
  transform: translate(60%);
  max-width: calc(35vw - 10vh);

  /* width: 70%; */
}

.blog-section {
  height: auto;
  padding-top: 2em;
  padding-bottom: 3em;
  background-color: #f0f0f0;
}
.blog-post {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.blog-heading {
  margin-bottom: 0.2em;
}
.blog-post-left {
  /* margin-right: 2em; */
}
.blog-post-date-location {
  display: flex;
  /* flex-direction: column; */
  gap: 1em;
}

.blog-post-left img {
  margin: 1em 0;
  max-width: 100%;
  /* max-width:%; */
  border-radius: 0.2em;
}

.blog-post-right {
  margin-left: 2em;
  padding-top: 1.5em;
}
.blog-preview-title {
  margin-bottom: 0.1em;
}
.blog-preview-read-more {
  margin-top: 1em;
}
