.hero-section-top-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 3em 0;
}
.hero-section-contact {
  display: flex;
  align-items: center;
}
.contact {
  cursor: pointer;
}
.contact + .contact {
  margin-left: 1.5rem;
  color: rgb(71, 70, 70);
}
/* .hero-section nav {
  } */
nav ul {
  display: flex;
  align-items: center;
}

nav ul li {
  display: block;
  margin-left: 2em;
}

nav ul li a {
  text-decoration: none;
  color: black;
}
.downloadCV {
  background-color: #1a1a1a;
  border-radius: 10em;
  padding: 0.7em 1.2em;
}
#downloadCV {
  color: white;
}

.twitterIcon,
.linkedInIcon {
  font-size: 1.65em;
  color: rgb(71, 70, 70);
}

@media screen and (max-width: 1200px) {
  .hero-section-top-nav {
    margin: 2em 0;
    outline: 1px black solid;
    outline-offset: 1em;
  }

  .downloadCV {
    display: none;
  }
}
